<div class="home-shower row">
  <div class="home-shower-block col-sm-4">
    <a href="/community" class="home-video">
      <%= image_tag("changqing/home_community_bg.jpg") %>
      <div class="home-link-cover">
        <p class="home-link-dynamic-title">认识邻居</p>
        <p class="home-link-dynamic-desc">community</p>
      </div>
    </a>
  </div>
  <div class="home-shower-block col-sm-4" id="xjh">
    <a href="/health" class="home-video">
      <%= image_tag("changqing/home_health_bg.jpg") %>
      <div class="home-link-cover">
        <p class="home-link-dynamic-title">新家庭计划</p>
        <p class="home-link-dynamic-desc">health</p>
      </div>
    </a>
  </div>
  <div class="home-shower-block col-sm-4" id="jlb">
    <a href="/club" class="home-video">
      <%= image_tag("changqing/home_club_bg.jpg") %>
      <div class="home-link-cover">
        <p class="home-link-dynamic-title">常青俱乐部</p>
        <p class="home-link-dynamic-desc">club</p>
      </div>
    </a>
  </div>
  <div class="clear"></div>
</div>
<div class="column">
  <div class="community">
    <a href="/community">
      <span>认识邻居</span>
      <%= image_tag("changqing/home_community_bg.jpg") %>
    </a>
  </div>
  <div class="health">
    <a href="/health">
      <span>新家庭计划</span>
      <%= image_tag("changqing/home_health_bg.jpg") %>
    </a>
  </div>
  <div class="club">
    <a href="/club">
      <span>常青俱乐部</span>
      <%= image_tag("changqing/home_club_bg.jpg") %>
    </a>
  </div>
</div>
