<div class="container linlibang">
  <div class="visual julebu">
    <!-- visualNav default menu -->
      <div id="sidemenu">
        <ul class="caidan">
          <li class="first">
            <a href="#home">
              <span>社区文艺课堂</span><span>></span>
            </a>
          </li>
          <li class="second">
            <a href="#work">
              <span>轻态健体活动</span><span>></span>
            </a>
          </li>
          <li class="last">
            <a href="#contact">
              <span>传统民俗之旅</span><span>></span>
            </a>
          </li>
        </ul>
      </div>

      <!-- main contents -->
      <div class="v-con fl_r">

        <div id="home" class="content">
          <div class="communication">
            <div class="page-header">
              <span>社区文艺课堂</span>
            </div>
            <div class="club-content">
              <div class="jbjs">
                <span class="title-1">1.1&nbsp;基本介绍</span>
                <div class="title-1-content">常青社区文艺课堂参考了日本和欧洲比较成熟的模式，并结合我国的国情进行了改良和完善，很适合中国的退休老人，很好的解决了我国高知人群退休早、精力旺盛、余热无处释放的问题，为退休人群开启了一个新的活动空间和新鲜的生活方式，同时活动内容实用、而且贴近退休生活，符合退休人群的生活和娱乐需求。老朋友们在这里可以一边学习、一边分享、一边交流，做到老有所学，老有所乐。</div>
              </div>
              <div class="kcjs">
                <span class="title-1">1.2&nbsp;课程介绍</span>
                <ul>
                  <li>
                    <div class="kc">
                      <span class="circle"></span>
                      <span>国画书法课</span>
                    </div>
                    <div class="penmanship">
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_penmanship_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">书法课</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">书法是中国汉字特有的一种传统艺术，是指按照文字特点及其涵义，以其书体笔法、结构和章法写字，使之成为富有美感的艺术作品</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_cp_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">国画课</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">在描绘物象上，主动运用线条、墨色表现形体、质感，有高度的表现力，并与诗词、款赋、书法篆刻相结合，达到“形神兼备”气韵生动的效果。</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="kc">
                      <span class="circle"></span>
                      <span>油画彩铅课</span>
                    </div>
                    <div class="penmanship">
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_op_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">零基础油画课</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">作画时使用的稀释剂为挥发性的松节油和干性的亚麻仁油等。画面所附着的颜料有较强的硬度，当画面干燥后，能长期保持光泽。</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_lead_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">零基础彩铅课</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">彩铅画。是一种介于素描和色彩之间的绘画形式。它的独特性在于色彩丰富且细腻，可以表现出较为丰盈、通透的质感。</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="kc">
                      <span class="circle"></span>
                      <span>壁毯珠绣课</span>
                    </div>
                    <div class="penmanship">
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_blanket_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">法国高比林壁毯编织</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">高比林是在立式织机上交织产生出“通经回纬”的双面壁毯。兴起于法国巴黎15世纪的高比林家族，因其转为皇室编制壁毯而闻名欧洲</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_beaded_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">手工珠绣</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">珠绣特点是高贵绚丽，珠光宝气，晶莹华丽，色彩明快，协调，经光线折射又有浮雕效果，是现代高档时尚礼品，同时也是艺术品</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="kc">
                      <span class="circle"></span>
                      <span>彩绘泥塑课</span>
                    </div>
                    <div class="penmanship">
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_colour_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">彩绘油纸伞</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">亲手体验彩绘油纸伞，学习传统油纸知识，在学到丰富多彩知识的同时增强活动的趣味性</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_mud_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">泥塑彩绘</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">从细小的泥塑人型塑造中体会不同色彩赋予的深刻内涵，体会传统彩绘的神奇色彩</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="kc">
                      <span class="circle"></span>
                      <span>木刻蜡染课</span>
                    </div>
                    <div class="penmanship">
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_wood_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">木刻版画</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">木刻是在木板上刻出反向图像，再印在纸上欣赏的一种版画艺术，独特的刀味与木味使它在中国文化艺术史上具有独立的艺术价值与地位</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_batik_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">贵州非遗蜡染</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">蜡染是用蜡刀蘸熔蜡绘花于布后以蓝靛浸染，既染去蜡，布面就呈现出蓝底白花或白底蓝花的多种图案</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="kc">
                      <span class="circle"></span>
                      <span>皮影布包课</span>
                    </div>
                    <div class="penmanship">
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_shadow_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">皮影彩绘</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">中国传统皮影戏的角色生、旦、净、丑——每个形象都特色鲜明，经典的传统人物形象与精湛的皮影雕刻手法结合，一张普通的皮子便成为皮影艺术的化身。</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="feng_tecList">
                        <div class="feng_tecList wrap">
                          <div class="picList clearfix">
                            <div class="moduleOne">
                              <a href="#" target="_blank">
                                <div class="mask"></div>
                                <%= image_tag("changqing/art_bag_pho.jpg") %>
                                <div class="drift">
                                  <span class="title">彩绘布包</span>
                                  <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">在布包上增加自己喜欢的彩绘图案，更加突出色彩与心情的注释，在彩绘的过程中陶冶情感。</div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="kcap">
                <span class="title-1">1.3&nbsp;课程安排</span>
                <table class="pc" style="border-collapse:separate; border-spacing:0 20px;">
                  <tr class="week">
                    <th></th>
                    <th>周一</th>
                    <th>周二</th>
                    <th>周三</th>
                    <th>周四</th>
                    <th>周五</th>
                    <th>周六</th>
                    <th>周日</th>
                  </tr>
                  <tr class="am">
                    <td class="am1">上午</td>
                    <td>闭馆</td>
                    <td>素描课</td>
                    <td>水彩课</td>
                    <td>手编课</td>
                    <td>插花课</td>
                    <td>书法课</td>
                    <td>彩铅课</td>
                  </tr>
                  <tr class="af">
                    <td class="am1">下午</td>
                    <td>书法课</td>
                    <td>壁毯编织</td>
                    <td>摄影课</td>
                    <td>智能手机</td>
                    <td>油画课</td>
                    <td>油画课</td>
                    <td>壁毯编织</td>
                  </tr>
                </table>
                <table class="yidong" style="border-collapse:separate; border-spacing:0 30px;">
                  <tr class="sxw">
                    <th></th>
                    <th>上午</th>
                    <th>下午</th>
                  </tr>
                  <tr class="one">
                    <td class="week1">周一</td>
                    <td>闭馆</td>
                    <td>书法课</td>
                  </tr>
                  <tr class="one">
                    <td class="week1">周二</td>
                    <td>素描课</td>
                    <td>壁毯编织</td>
                  </tr>
                  <tr class="one">
                    <td class="week1">周三</td>
                    <td>水彩课</td>
                    <td>摄影课</td>
                  </tr>
                  <tr class="one">
                    <td class="week1">周四</td>
                    <td>手编课</td>
                    <td>智能手机</td>
                  </tr>
                  <tr class="one">
                    <td class="week1">周五</td>
                    <td>插花课</td>
                    <td>油画课</td>
                  </tr>
                  <tr class="one">
                    <td class="week1">周六</td>
                    <td>书法课</td>
                    <td>油画课</td>
                  </tr>
                  <tr class="one">
                    <td class="week1">周日</td>
                    <td>彩铅课</td>
                    <td>壁毯编织</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="work" class="content">
          <div class="showcasing">
            <div class="page-header">
              <span>轻态健体活动</span>
            </div>
            <div class="page-content page-contents">
              <div class="club-content">
                <div class="jbjs">
                  <span class="title-1">2.1&nbsp;基本介绍</span>
                  <div class="title-1-content">适宜的健体活动是保持良好身心状况的最佳手段，常青社区依靠科学的分析，同时依据国内人群的特点，制定了符合中国退休老人的健体活动，通过一系列健康的轻态活动来促进身心健康。</div>
                </div>
                <div class="kcjs">
                  <span class="title-1">2.2&nbsp;课程介绍</span>
                  <ul>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>理疗瑜伽课 </span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_yoga_one_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">中老年瑜伽</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">针对中老年人群的特点及需求设计瑜伽课内容，对老人的腰颈肩、睡眠、各类慢性疾病均有很好的改善效果</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_yoga_two_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">中老年瑜伽</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">专业瑜伽老师授课，确保学员在学习的过程中的安全，老师经验丰富，教学灵活。</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>舞蹈大讲堂</span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_dance_one_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">舞蹈大讲堂</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">舞蹈课是一门训练身形，培养心境的课程，能够让中老年人强身健体、训练身形，并且通过学习舞蹈找到自信</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_dance_two_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">舞蹈大讲堂</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">舞蹈老师亲自授课， 使学员掌握各民族舞蹈基本体态及特征，具备舞蹈基本知识和技能，通过各民族民间舞蹈的训练达到体态富有美感和表现力。</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>声乐大讲堂</span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_music_one_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">声乐大讲堂</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">组织中老人一起学习声乐课，学习发声技巧、提升歌唱水平，从而达到身心愉悦，心灵年轻化的效果   </div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_music_two_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">声乐大讲堂</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">声乐老师亲自授课，通过由浅入深、循序渐进的学习，解决学员普遍存在的发声问题，以及如何使气息、腔体及咬字达到合理的平衡</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>茶道茶艺课</span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_teap_one_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">茶道茶艺课</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">茶艺老师亲自授课，传授茶道知识，介绍茶具、茶叶种类，讲解各类茶品的泡茶方法、与茶相关的知识等</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_teap_two_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">茶道茶艺课</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">在学习知识的同时，还可以品尝不同的茶品，大家一起度过愉快的时光</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>基础摄影课</span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_photography_one_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">基础摄影课</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">为学员讲解相机知识，通过学习可以正确掌握相机的使用方法，了解各类摄影技巧</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_photography_two_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">基础摄影课</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">针对的对摄影感兴趣无基础，或有少量摄影知识的中老年人士，最终达到能够拍出令人满意的照片，感受摄影的乐趣。</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>园艺插花课</span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_flower_one_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">园艺插花课</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">根据季节的不同，选择不同的时令花卉进行创作，插花艺术老师上门授课</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/fitness_flower_two_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">园艺插花课</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">常青社区提供老师内容讲解服务，以及全部所需的材料及工具；学员完成的作品可以自行带回家或作为展览品使用。</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="kcap">
                  <span class="title-1">2.3&nbsp;课程安排</span>
                  <table class="pc" style="border-collapse:separate; border-spacing:0 20px;">
                    <tr class="week">
                      <th></th>
                      <th>周一</th>
                      <th>周二</th>
                      <th>周三</th>
                      <th>周四</th>
                      <th>周五</th>
                      <th>周六</th>
                      <th>周日</th>
                    </tr>
                    <tr class="am">
                      <td class="am1">上午</td>
                      <td>理疗瑜伽</td>
                      <td>声乐讲堂</td>
                      <td>基础摄影</td>
                      <td>舞蹈讲堂</td>
                      <td>声乐讲堂</td>
                      <td>园艺插花</td>
                      <td>基础摄影</td>
                    </tr>
                    <tr class="af">
                      <td class="am1">下午</td>
                      <td>舞蹈讲堂</td>
                      <td>茶道茶艺</td>
                      <td>园艺插花</td>
                      <td>理疗瑜伽</td>
                      <td>声乐讲堂</td>
                      <td>基础摄影</td>
                      <td>园艺插花</td>
                    </tr>
                  </table>
                  <table class="yidong" style="border-collapse:separate; border-spacing:0 30px;">
                    <tr class="sxw">
                      <th></th>
                      <th>上午</th>
                      <th>下午</th>
                    </tr>
                    <tr class="one">
                      <td class="week1">周一</td>
                      <td>理疗瑜伽</td>
                      <td>舞蹈讲堂</td>
                    </tr>
                    <tr class="one">
                      <td class="week1">周二</td>
                      <td>声乐讲堂</td>
                      <td>茶道茶艺</td>
                    </tr>
                    <tr class="one">
                      <td class="week1">周三</td>
                      <td>基础摄影</td>
                      <td>园艺插花</td>
                    </tr>
                    <tr class="one">
                      <td class="week1">周四</td>
                      <td>舞蹈讲堂</td>
                      <td>理疗瑜伽</td>
                    </tr>
                    <tr class="one">
                      <td class="week1">周五</td>
                      <td>声乐讲堂</td>
                      <td>声乐讲堂</td>
                    </tr>
                    <tr class="one">
                      <td class="week1">周六</td>
                      <td>园艺插花</td>
                      <td>基础摄影</td>
                    </tr>
                    <tr class="one">
                      <td class="week1">周日</td>
                      <td>基础摄影</td>
                      <td>园艺插花</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="contact" class="content">
          <div class="life">
            <div class="page-header">
              <span>传统民俗之旅</span>
            </div>
            <div class="page-content">
              <div class="club-content">
                <div class="jbjs">
                  <span class="title-1">3.1&nbsp;基本介绍</span>
                  <div class="title-1-content">中国有许多精湛的传统手工艺正在面临失传的危机，它们中的一部分，曲高和寡，只收藏于博物馆中；另一部分，与世隔绝，只在当地很小范围内平淡生存。我们想做的，是让“非物质文化遗产”走出大山、村寨，让更多人的日常生活被传统民艺装点。 </div>
                </div>
                <div class="kcjs">
                  <span class="title-1">3.2&nbsp;课程介绍</span>
                  <ul>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>探访云南 </span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/folk_three_pho.png") %>
                                  <div class="drift">
                                    <span class="title">探访云南</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">云南历史文化悠久，自然风光绚丽。同时也是少数民族文化聚集发源地之一，拥有者灿烂的传统民俗文化</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/folk_four_pho.png") %>
                                  <div class="drift">
                                    <span class="title">探访云南</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">通过探访云南非物质文化遗产传人，实地探索非遗文化中的蕴含的深刻历史记忆</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="kc">
                        <span class="circle"></span>
                        <span>寻溯贵州</span>
                      </div>
                      <div class="penmanship">
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/folk_one_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">寻溯贵州</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">贵州是一个多民族的聚集地，文化特点啊丰富多样，不同地区之间的差异十分明显，有着灿烂多彩的民俗文化</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="feng_tecList">
                          <div class="feng_tecList wrap">
                            <div class="picList clearfix">
                              <div class="moduleOne">
                                <a href="#" target="_blank">
                                  <div class="mask"></div>
                                  <%= image_tag("changqing/folk_two_pho.jpg") %>
                                  <div class="drift">
                                    <span class="title">寻溯贵州</span>
                                    <div class="abs" style="height: 0px; margin-bottom: 0px; overflow: hidden;">通过寻找贵州传统造纸术，了解当前手工造纸的传承与文化，在一张张手工用纸上来寻找承载的文化魅力</div>
                                  </div>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>

<script>
  $(window).scroll(function () {
    if ($(document).scrollTop() >= 301) {
        $('#sidemenu .caidan').addClass('fix');
        $('#breadcrumb').addClass('fix1');

    } else {
        $('#sidemenu .caidan').removeClass('fix');
        $('#breadcrumb').removeClass('fix1');
    }
});
</script>
<script type="text/javascript">
  $(function(){
    $('#sidemenu').visualNav({
      link: 'a',         // add a link class, as necessary (e.g. 'a.menu')
      targetAttr: 'href',      // added in case you have link = "div" and attribute something like
      selectedAppliedTo : 'li',        // where to add the selected class name; to only apply to the link, use the same value as is in the link option
      contentClass: 'content',   // content class to get height of the section
      contentLinks: 'visualNav', // class name of links inside the content that act like the visualNav menu (smooth scroll)
      externalLinks: 'external',  // class name of links that link to external content.
      useHash: true,        // if true, the location hash will be updated

      // Classes added to items
      inViewClass: 'inView',    // css class added to items in the viewport
      selectedClass: 'selected',  // css class applied to menu when a link is selected (highlighted)
      currentContent: 'current',   // css class applied to the content block when it is currently selected in the menu.

      // Appearance
      bottomMargin: 100,         // margin from the end of the page where the last menu item is used (in case the target is short)
      fitContent: false,       // If true, the contentClass width will be adjusted to fit the browser window (for horizontal pages).
      offsetTop: 80,           // add a top offset value (pixels) or jQuery element (height is measured), of any top menu or gap.
      scrollOnInit: false,       // scroll to first item automatically on initialization

      // Animation
      animationTime: 700,        // page scrolling time in milliseconds or function( distance ) { return milliseconds; }
      stopOnInteraction : true,        // if the user presses any key or scrolls the mouse, the animation will cancel
      easing: [ 'swing', 'swing' ], // horizontal, vertical easing; it might be best to leave one axis as swing [ 'swing', 'easeInCirc' ]

      // Callbacks
      // visNav is visualNavigation object (see the callbacks page)
      // $selected is a jQuery object of the currently selected content (class name from "contentClass")
      initialized: function(visNav, $selected){ }, // Callback executed when the visualNav plugin has finished initializing
      beforeAnimation: function(visNav, $selected){ }, // Callback executed before the animation begins moving to the targetted element
      complete: function(visNav, $selected){ }, // Callback executed when the targetted element is in view and scrolling animation has completed
      changed: function(visNav, $selected){ }  // Callback executed every time the current menu item changes

    });
  });
</script>
<script type="text/javascript">
  jQuery(function($){
  (function(){
    $.fn.extend({
      linearTop:function(options){
        var defaults={

        }
        $(this).mouseover(function(){
          $(this).find('.abs').stop().animate({'height':120,'marginBottom':10},300);
        }).mouseout(function(){
            $(this).find('.abs').stop().animate({'height':0,'marginBottom':0},100);
          });
      }
    });
  })(jQuery);
  $('.feng_tecList .picList .moduleOne').linearTop();

  });

</script>
